[submodule "src/devices/airspy/lib"]
	path = src/devices/airspy/lib
	url = https://github.com/Roman-Port/airspyone_host-windows
[submodule "src/devices/rtlsdr/lib"]
	path = src/devices/rtlsdr/lib
	url = https://github.com/Roman-Port/rtl-sdr-windows
[submodule "https://github.com/Roman-Port/airspyone_host-windows"]
	url = lib
