[submodule "https://github.com/Roman-Port/airspyone_host-windows"]
	url = lib
[submodule "devices/airspy/lib"]
	path = devices/airspy/lib
	url = https://github.com/Roman-Port/RaptorHardware-airspy
[submodule "devices/rtlsdr/lib"]
	path = devices/rtlsdr/lib
	url = https://github.com/Roman-Port/RaptorHardware-rtlsdr
