[submodule "src/devices/airspy/lib"]
	path = src/devices/airspy/lib
	url = https://github.com/airspy/airspyone_host
[submodule "src/devices/rtlsdr/lib"]
	path = src/devices/rtlsdr/lib
	url = https://github.com/osmocom/rtl-sdr
